* {
    box-sizing: border-box;
}
body {
    background: #ccc;
    margin: 0;
}

/* Основной контейнер для выравнивания и фона */
.wrapper {
    width: 960px;
    margin: 0 auto;
    background: #fff;
    padding: 1rem;
}
header {
    border-bottom: 1px solid #000;
    font-size: 3rem;
    text-align: center;
}

/* Контейнер для выстраивания основных элементов сайта */
.main-row {
    display: flex;
    justify-content: stretch;
}

/* Стили меню бокового */
.menu {
    min-width: 200px; /* для корректного поведения флексбокс */
    width: 200px;
    border-right: 1px solid #000;
}
.menu a {
    display: block;
    padding: 0.5rem;
    margin: 0.5rem 0;
}
.menu a:hover {
    background: aqua;
}

/* Стили блока превью новостей */
.news-preview-container {
    min-width: 220px; /* для корректного поведения флексбокс */
    width: 220px;
    border-left: 1px solid #000;
    padding: 1rem;
}
.news-preview {
    margin-bottom: 2rem;
}
.news-preview__header {
    font-size: 1.2rem;
}
.news-preview__text {
    margin: 0;
}
.news-preview__link {
    font-size: 0.9rem;
    text-decoration: none;
    float: right;
}
.news-preview__link:hover {
    text-decoration: underline;
}

/* Стили футера */
footer {
    border-top: 1px solid #000;
}

/* Стили основного контента */
main {
    padding: 1rem;
}

/* Вспомогательные классы */
.adaptive-img {
    max-width: 100%;
    height: auto;
}
blockquote {
    font-style: italic;
}
.map-conatiner {
    margin-left: -1rem;
    margin-right: -1rem;
}
.pretty-form label {
    display: inline-block;
    width: 150px;
}
.error-message {
    border: 1px solid #f00;
    border-radius: 0.5rem;
    background: #f88;
    padding: 0.5rem;
}
.ok-message {
    border: 1px solid #0f0;
    border-radius: 0.5rem;
    background: #8f8;
    padding: 0.5rem;
}
textarea {
    width: 100%;
    height: 5em;
}
.violet {
    color: #c800e2;
}
table {
    border-collapse: collapse;
}
table td {
    border: 1px solid #000000;
}
.red-email {
    color: red;
}
.add-student input {
    width: 100%;
}

.good-item {
    width: 33%;
    display: inline-block;
    vertical-align: top;
}